@{
    ViewBag.Title = "Home Page";
    Layout = null;

    var list = ViewBag.List;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")


    <div>
        <button class="btn btn-success btn-sm" type="button" onclick="RefreshClick()" value="Search">刷新查詢</button>

        <hr />
    </div>


<div>
    @for (int i = 0; i < list.Count; i++)
    {
        @Html.Raw($"訂單代號: {list[i].OrderID}, 客戶名稱: {list[i].CustomerID}")
        <br />
    }
</div>

<script language="javascript" type="text/javascript">

    function RefreshClick() {
        location.reload();
    }



</script>